{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-4">
        <h1 class="my-4">Статусы</h1>
        {% bootstrap_messages %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Дата создания</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for status in statuses %}
                    <tr>
                        <td>{{ status.id }}</td>
                        <td>{{ status.name }}</td>
                        <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                        <td>
                            <a href="{% url 'update_status' status.pk %}" class="btn btn-warning btn-sm">Изменить</a>
                            <a href="{% url 'delete_status' status.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'create_status' %}" class="btn btn-success">Создать статус</a>
    </div>
{% endblock %}