{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-4">
        <h1 class="my-4">Метки</h1>
        {% bootstrap_messages %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Дата создания</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                    <tr>
                        <td>{{ label.id }}</td>
                        <td>{{ label.name }}</td>
                        <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
                        <td>
                            <a href="{% url 'label_update' label.pk %}" class="btn btn-warning btn-sm">Изменить</a>
                            <a href="{% url 'label_delete' label.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'label_create' %}" class="btn btn-success">Создать метку</a>
    </div>
{% endblock %}