{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>Список меток</h1>
  {% if object_list %}
    <ul>
      {% for label in object_list %}
        <li>
          {{ label.name }} (Создано: {{ label.created_at|date:"d.m.Y H:i" }})
          <a href="{% url 'label_update' label.pk %}">Редактировать</a>
          <a href="{% url 'label_delete' label.pk %}">Удалить</a>
        </li>
      {% empty %}
        <li>Нет меток.</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Нет меток.</p>
  {% endif %}
  <a href="{% url 'label_create' %}" class="btn btn-primary">Создать метку</a>
  {% bootstrap_messages %}
{% endblock %}