{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-4">
        <h1 class="my-4">Вход</h1>
        {% bootstrap_messages %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="username" placeholder="Имя пользователя" required>
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="password" placeholder="Пароль" required>
            </div>
            <button type="submit" class="btn">Войти</button>
        </form>
    </div>
{% endblock %}